# YOLOv5 requirements
# Usage: pip install -r requirements.txt

# Base ------------------------------------------------------------------------
gitpython
matplotlib
opencv-python
Pillow
psutil  # system resources
PyYAML
requests
scipy
thop
torch # see https://pytorch.org/get-started/locally (recommended)
torchvision
tqdm
ultralytics
# protobuf<=3.20.1  # https://github.com/ultralytics/yolov5/issues/8012

# Plotting --------------------------------------------------------------------
pandas
seaborn

# Deploy ----------------------------------------------------------------------
setuptools # Snyk vulnerability fix


# Server Configurations -------------------------------------------------------
Flask
Flask-Cors
FLask-SocketIO
segmentation
starlette
python-multipart